.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url("../public/font/Kanit-Regular.ttf") format("TrueType");
}
html,body{
  background-color: #FBE4C9 !important;
  font-family: Kanit !important;
}
.App-header {
  background-color: #003674;
  background: url(../public/imgs/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.roomPage{
  /* background-color: #FBE4C9; */
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}
.headerName{
  font-size: 2rem;
  text-align: center;
}


.washingMachineZone{
  background-color: #FBE4C9;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.washingMachineZone .row{
  width: 100%;
}
.clothesDryerZone{
  background-color: #FF5D5D;
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.clothesDryerZone .row{
  width: 100%;
}
.BoxWashingMachine{
  background-color: #FBE4C9;
  padding-top: 1.5rem;
}
.BoxClothesDryerZone{
  background-color: #FF5D5D;
  padding-top: 1.5rem;
}
.App-link {
  color: #FBE4C9;
}
.App-header{
  padding-right: 47rem;
}
.App-header h1{
  color: #222;
  /* background-color: #429aff; */
  font-size: 2.5rem;
  margin: 0;
}
.App-header h2{
  color: #222;
  /* background-color: #429aff; */
  font-size: 4rem;
}
.washingMachine{
  width: 350px;
  height: 400px;
  background: transparent;
  /* background: url(../public/imgs/washing-machine-svgrepo-com.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -11px;
  background-position-x: center;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.658);
  border-radius: 8px;
  margin: auto;
  margin-bottom: 1.7rem;
  pointer-events: auto;
  position: relative;
  cursor: pointer;
  transition: all .2s;
}
.disabledMachine{
  box-shadow: unset !important;  
  pointer-events: none;
}
.boxImgWashingMachine{
  text-align: center;
}
.imgWashingMachine{
  width: 221px;
  margin: auto;
}
.washingMachine:hover{
  /* opacity: .7; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.795);
}
.washingMachine:hover::before{
  visibility: visible;
}
.washingMachine::before{
  visibility: hidden;
  content: "เริ่มใช้งานเครื่องนี้";
  position: absolute;
  width: 220px;
  height: 50px;
  background: #9EB384;
  box-shadow: 0 0 5px #222;
  border-radius: 5px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #FFF;
  /* text-shadow: 0 0 10px #FFF; */
}
.clothesDryerZone .washingMachine{
  width: 350px !important;
  /* background: url(../public/imgs/ClothesDryer.svg) !important; */
  /* background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position-y: -11px !important;
  background-position-x: center !important; */
} 
.vendingMachine{
  /* background-color: #000; */
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vendingMachine span{
  font-size: 2rem;
  color: #222;
}
.WMlid{
  /* height: 78%; */
  margin: 2rem 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.WMlid .lid{
  width: 200px;
  height: 160px;
  border-radius: 100%;
  /* background-color: #000; */
}
.machineAmount{
  text-align: center;
  color: #222;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.machineAmount p{
  margin: 0;
}
.machineAmount span{
  font-size: 1.2rem;
}
.formCustom{
  border: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  font-size: 3rem !important;
  width: 200px !important;
  text-align: center !important;
}
.modal-content{
  background: #FFF !important;
}
.modal-header{
  border-bottom: none !important;
}
.modal-footer{
  justify-content: center !important;
  border-top: none !important;
}
.imgCoin{
  width: 35px;
  margin: auto;
  /* margin-right: 5px; */
}
.imgClear{
  width: 26px;
  margin: auto;
  /* margin-right: 5px; */
}
.fontSizeAlet{
  font-size: 21px;
}
.btnUp{
  background-color: #84B9EF !important;
  color: #222 !important;
  border: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  height: 45px !important;
}
.btnClear{
  background: #FF5D5D !important;
  color: #222 !important;
  border: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  height: 45px !important;
}
.btnUp:active,
.btnClear:active{
  opacity: .8;
}
.textAlert{
  text-align: center;
  font-size: .8rem;
  color: #FF5D5D !important;
}
.modalSucess {
  text-align: center;
  padding-bottom: 2rem;
}
.modalSucess .modal-title{
  font-size: 2.7rem;
}
.modalSucess p{
  margin-bottom: 0;
}
.loadingSpin{
  width: 100% !important;
  height: 20px !important;
}
.loadingSpin svg{
  width: 20px;
  height: 20px !important;
  vertical-align:unset !important;
}
.btnStartProcess{
  width: 170px;
  height: 40px;
  background-color: #9EB38480 !important;
  border: none !important;
  color: #222 !important;
}
.imgGo{
  width: 20px !important;
  margin-right: 3px;
}
/* .modalMachine .modal-body{
  height: 230px !important;
} */
/* .modalMachine .modal-content{
  border: 2px solid #84B9EF !important;
} */
.boxScanLine img{
  width: 150px;
}
.textScan{
  color: #222;
  font-size: 1rem;
  margin-top: 1.7rem;
}
.imgInModal{
  width: 350px;
  margin: auto;
}
.modalMachine .modal-footer{
  padding-bottom: 2rem;
}
.btn-close{
  background: url(../public/imgs/close.svg) !important;
  background-size: 25px !important;
  opacity: 1 !important;
  background-repeat: no-repeat !important;
}
.btn-close:focus,.nav-link:focus{
 outline: none !important;
 box-shadow: none !important;
}
.modalSuccess{
  text-align: center;
}
.modalSuccess .modal-title{
  color: #9EB384;
}
.imgSuccess{
  width: 300px;
}
.imgClose{
  width: 20px;
  margin-right: .3rem;
}
.btnCloseSuccess{
  width: 120px;
  height: 50px;
  background: #9EB38480 !important;
  color: #222 !important;
  border: none !important;
}
.boxFormInput{
  display: flex;
  justify-content: center;
}
.zoneBtn{
  display: grid;
}
.zoneInput input{
  max-height: 100vh;
  height: 100%;
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.textAlertCountdown{
  padding-top: 1.5rem !important;
}
.manualPage{
  min-height: 100vh;
  background: url(../src/images/bgManual.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.btnManual {
  background: #84B9EF !important;
  border: none !important;
  padding: 10px 30px !important;
  
}
.tagAManual{
  text-decoration: none !important;
}
.tagAManual .btn{
  color: #222 !important;
}
.manualPage{
  display: flex;
  align-items: center;
  justify-content: center;
}
.manualPage ul{
  list-style: auto;
}
.boxTextManual{
  width: 500px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media(min-width:992px){
  .noneDesktop{
    display: none !important;
  }
}
@media(min-width:1201px){
  .washRoomMobile{
    display: none;
  }
}
@media(min-width:576px){
  .imgBgShowMobile{
    display: none;
  }
}
@media(min-width:426px){
  .showBr{
    display: none;
  }
}
@media(max-width:1440px){
  .clothesDryerZone .washingMachine{
    width: 100% !important;
  }
  .washingMachine{
    width: 100%;
    height: 380px !important;
    margin-bottom: 1.2rem;
  }
  .imgWashingMachine{
    width: 200px;
  }
  .vendingMachine span{
    font-size: 1.6rem;
  }
  .machineAmount{
    font-size: 1.4rem;
  }
  .washingMachine::before{
    width: 190px;
    font-size: 1.1rem;
  }
  .App-header {
    padding-right: 37rem;
  }
}
@media(max-width:1200px){
  .washRoomMobile{
    display: block !important;
    padding: 2rem 0;
  }
  /* .washRoomDesktop{
    display: none !important;
  } */
  .washRoomMobile .nav-tabs{
    width: 100%;
  }
  .washRoomMobile .nav-item{
    width: 49%;
    display: flex !important;
    align-items: end !important;
  }
  .washRoomMobile .nav-item .nav-link{
    width: 100%;
    background: #FFF;
    transition: all .4s;
    border: none !important;
    border-radius: 8px !important;
    color: #222;
  }
  .washRoomMobile .nav-item .nav-link.active{
    width: 100%;
    background: #555;
    font-size: 1.4rem;
    color: #FFF !important;
  }
  .bgClothesDryer{
    background: #FF5D5D !important;
  }
  .nav-tabs{
    border: none;
  }
  .tabCustom{
    display: flex;
    justify-content: space-around;
  }
  .App-header {
    padding-right: 30rem;
  }
}
@media(max-width:1024px){
  .boxTextManual {
    width: 420px;
  }
  .App-header {
    padding-right: 20rem;
  }
  .imgWashingMachine {
    width: 170px;
  }
  .washingMachine {
    height: 350px !important;
    margin-bottom: 1.2rem;
  }
  .washingMachine::before {
    width: 170px;
  }
  .vendingMachine span {
    font-size: 1.4rem;
  }
}
@media(max-width:991px){
  
  .boxTextManual {
    margin-left: auto !important;
    margin-right: none !important;
  }
  .manualPage{
    background-position-x:-150px;
  }
  .App-header {
    padding-right: 0rem;
  }
  .washingMachine::before{
    content: unset !important
    /* visibility: hidden !important; */
  }
  .washingMachineZone,
  .clothesDryerZone{
    height: auto;
  }
  .washRoomMobile .nav-tabs{
    border:none;
  }
  .clothesDryerZone .washingMachine{
    width: 100% !important;
  }
}
@media(max-width:767.98px){
  .App-header{
    background-position: center;
  }
  .fontSizeAlet{
    font-size: 18px;
  }
}

@media(max-width:575.98px){
  .imgBgShowMobile{
    text-align: center;
  }
  .imgBgShowMobile img{
    width: 300px;
    margin: auto;
  }
  .manualPage{
    background: unset !important;
    background-color: #FFF !important;
  }
  .boxTextManual {
    margin: auto !important;
    width: 400px;
    padding-top: 4rem;
  }
  .imgWashingMachine{
    width: 80%;
  }
  .vendingMachine span {
    font-size: 1.4rem;
  }
  .machineAmount{
    font-size: 1.2rem;
  }
  .machineAmount span{
    font-size: 1rem;
  }
  .App-header h1{
    font-size: 2rem;
  }
  .App-header h2{
    font-size: 3.5rem;
  }
  .fontSizeAlet{
    font-size: 16px;
  }
  .textAlertCountdown{
    font-size: .8rem;
  }
}
@media(max-width:510px){
  .washingMachine{
    height: 350px !important;
  }
  .imgWashingMachine{
    width: 90%;
  }
}

@media(max-width:425px){
  .imgBgShowMobile img{
    width: 250px;
  }
  .boxTextManual {
    width: 100%;
  }
  .showBr{
    display: unset;
  }
  .imgInModal,.imgSuccess {
    width: 100%;
  }
  .vendingMachine span {
    font-size: 1.2rem;
  }
  .machineAmount{
    font-size: 1rem;
  }
  .machineAmount span{
    font-size: .8rem;
  }
  .washingMachine {
    height: 280px !important;
  }
  .vendingMachine{
    height: 60px;
  }
  .App-header h1{
    font-size: 1.8rem;
  }
  .App-header h2{
    font-size: 3.2rem;
  }
  .fontSizeAlet{
    font-size: 14px;
  }
  .textAlertCountdown{
    padding-top: .8rem !important;
  }
}
@media(max-width:375px){
  .modalMachine .modal-title{
    font-size: 1.3rem;
  }
  .textAlertCountdown{
    font-size: .5rem;
  }
  .vendingMachine span {
    font-size: 1rem;
  }
  .washingMachine {
    height: 240px !important;
  }
  .vendingMachine{
    height: 45px;
  }
  .washRoomMobile .nav-item .nav-link.active{
    font-size: 1.2rem;
  }
  .fontSizeAlet{
    font-size: 12px;
  }
}
@media(max-width:325px){
  .washingMachineZone .col-lg-4.col-6{
    padding-left: 5px;
    padding-right: 5px;
  }
  .fontSizeAlet{
    padding-top: 1.3rem !important;
    font-size: 8px !important;
  }
  .vendingMachine span{
    font-size: .9rem;
  }
  .washingMachine {
    height: 215px !important;
}
}


